%ul.nav.nav-tabs
  %li{class: (params[:controller] == 'ad_groups' && params[:action] == 'show') ? 'active' : '' }= link_to 'Ads', ad_group_ads_path(@ad_group)
  %li{class: (params[:controller] == 'ad_group_keywords' && params[:action] == 'index') ? 'active' : ''}= link_to 'Keywords', ad_group_keywords_path(@ad_group)