=render partial: 'ads/ads_common_nav'
.span10
  .alert{ng_show: "error != ''"}
    %a.close{data: {dismiss: 'alert'}} &times;
    {{error}}

  .alert.alert-info{ng_show: "notice != ''"}
    %a.close{data: {dismiss: 'alert'}} &times;
    {{notice}}


%input{type: 'text',ng_model: 'coupon_code'}
%a.btn.btn-primary{ng_click: 'apply_coupon(coupon_code)'} Apply Coupon
.span10
  %table.table
    %thead
      %tr
        %th Coupon Code
        %th Bitcon Address
        %th Amount
    %tbody
      %tr{ng_repeat: "record in searchParameters.records", "ng-class-odd"=>"'odd'", "ng-class-even"=>"'even'"}
        %td {{record.couponCode}}
        %td {{record.bitcoinAddress}}
        %td {{record.amount}}
=render partial: 'shared/angular_common_pagination'