=f.label_with_error :title
=f.text_field :title
=f.label_with_error :path, "Target"
=f.text_field :path
=f.label_with_error :display_path, "Display Path"
=f.text_field :display_path
=f.label_with_error :bid
=f.number_field :bid
%p.muted (0.001 BTC for not PPC, 0.05 for PPC)
=f.label_with_error :body
=f.text_area :body, rows: 4
%br/
=f.submit