=f.label_with_error :title
=f.text_field :title
=f.label_with_error :path, "Target"
=f.select "protocol_id",{"HTTP://"=>0,"HTTPS://"=>1}, {},{class: 'input-small'}
=f.text_field :path
=f.label_with_error :display_path, "Display Path"
=f.text_field :display_path
=f.text_field_with_error :line_1
%br/
=f.text_field_with_error :line_2
%br/
%hr/
=f.label_with_error :bid
=f.number_field :bid
-if @ad.advertiser.beta?
  %hr/
  %h3 Keyword Bidding
  .row
    .span12
      Enter new keywords seperated by commas in the field below, you will be able to assign prices to them after they are added
    -unless @ad.ad_keywords.empty?
      .span12
        =f.fields_for :ad_keywords do |ff|
          =ff.text_field :keyword, value: ff.object.keyword.word
          =ff.number_field :bid
          %br/
    .span12
      =text_area_tag "keywords"
%br
=f.submit