-ad_group ||= false
-if @ad.new_record?
  -unless ad_group
    =f.label :ad_group, "Select an Ad Group"
    =collection_select(:ad, :ad_group_id, current_advertiser.ad_groups, :id, :name, {prompt: false})
=f.label_with_error :title, t('.title')
=f.text_field :title
=f.label_with_error :path, t('.target')
=f.select "protocol_id",{"HTTP://"=>0,"HTTPS://"=>1}, {},{class: 'input-small'}
=f.text_field :path
=f.label_with_error :display_path, t('.display_path')
=f.text_field :display_path, style: 'color:#009933'
%br/
=f.text_field_with_error :line_1
%br/
=f.text_field_with_error :line_2
%br/
-unless @ad.legacy? || @ad.new_record? || @ad.ad_group.ad_group_keywords.any?
  %hr/
  .span.well
    You should probably evaluate using
    =link_to 'keyword bidding', ad_group_keywords_path(@ad.ad_group_id)
    instead of general ad click based bidding to improve the targeting of your advertisements
  =f.label_with_error :bid, t('.bid')
  =f.number_field :bid

%br
=f.submit