.row
  .span6
    =form_for @ad, builder: WithErrorFields do |f|
      =render partial: 'fields', locals: { f: f }
  .span6
    .row
      =render partial: 'ad', locals: {search: false, ad: @ad}
.row
  %h2 Keywords
  %hr/
  =link_to "Add Keywords", new_keyword_path
