=render partial: 'ads_common_nav'
=render partial: 'angular_fields', locals: {type: ''}

%table.table
  %thead
    %tr
      %th
      %th Ad
      %th Word
      %th Bid
      %th
  %tbody
    %tr{ng_repeat: "record in ad.keywords", "ng-class-odd"=>"'odd'", "ng-class-even"=>"'even'"}
      %td
      %td
        %span{'ng-hide'=>'record.editMode'} {{record.word}}
        %span{'ng-show'=>'record.editMode'}
          %input{type: :text, ng_model: "record.word"}
      %td
        %span{'ng-hide'=>'record.editMode'} ฿{{record.bid}}
        %span{'ng-show'=>'record.editMode'}
          ฿
          %input{type: :text, ng_model: "record.bid"}
      %td
        %button.btn.btn-success{ng_hide: 'record.editMode', ng_click: 'record.editMode = !record.editMode'}
          %i.icon-edit
        %button.btn.btn-info{ng_show: 'record.editMode', ng_click: 'update_keyword(record)'}
          %i.icon-lock
        %button.btn.btn-warning{ng_hide: 'record.editMode', ng_click: 'remove_keyword(record)'}
          %i.icon-remove-sign
    %tr
      %td New
      %td
        %span
          %input{type: :text, ng_model: "new_keyword.word"}
      %td
        %span
          ฿
          %input{type: :text, ng_model: "new_keyword.bid"}
      %td
        %button.btn.btn-info{ng_click: 'new_keyword(new_keyword)'}
          %i.icon-lock
=render partial: 'shared/angular_common_pagination'