.row.span12
  .span2.offset1
    .logo
  .span4.offset1
    %h1 Keyword Tool
.row
  .span12.offset2
    %form{method: "get"}
      =text_field_tag :keyword, params[:keyword], placeholder: 'keyword'
      %button{type: 'submit'} Check Keyword
