-searched ||= ''
-disabled ||= false
=form_tag("/#{I18n.locale}", method: "get", id: 'search', class: 'form-search') do
  .input-append.span10
    =text_field_tag 'q', searched, class: 'search_bar search-query span6', id: "appendedInputButtons", autofocus: "autofocus", disabled: disabled
    =hidden_field_tag 'j', 'f', id: 'j'
    =button_tag t('search.search_tor'), class: 'btn', type: "submit", name: ''
=content_for :javascripts do
  :javascript
    $().ready(function(){
      $('#j').val( 't' );
    })