-searched ||= ''
-disabled ||= false
-logo ||= false
=form_tag("/#{I18n.locale}/search", method: "get", id: 'search', class: 'form-horizontal') do
  .col-sm-2.col-sm-offset-1
    -if logo
      =link_to image_tag('logo.png'), root_path
  .col-sm-6
    .input-group.input-group-lg.search-bar
      =text_field_tag 'q', searched, class: 'form-control', id: "appendedInputButtons", autofocus: "autofocus", disabled: disabled
      =hidden_field_tag 'j', 'f', id: 'j'
      %span.input-group-addon#search-button
        %button.btn.btn-link{type: 'submit'}
          %span.glyphicon.glyphicon-search

    -if @search.errors.empty?
      %p.muted
        =t 'search.around'
        =number_with_precision @search.indexed, delimiter: ',', significant: true, precision: 2, strip_insignificant_zeros: true, separator: '.', locale: I18n.locale
        =t 'search.pages_indexed'
    -else
      %p.muted Search is offline for the moment, we are looking into it
=content_for :javascripts do
  :javascript
    $().ready(function(){
      $('#j').val( 't' );
    })
