%h1 Why are you flagging this page?
= form_for @flag, as: :post, url: save_flag_path(@flag) do |f|
  =select_tag :flag_reason, options_for_select([['Select a reason', nil]] + FlagReason.all.map{|f| [f.description, f.id]})
  %br/
  =f.label :reason, "Other"
  =f.text_field :reason
  =f.hidden_field :content_id, value: @page.id
  %br/
  =f.submit "Flag It!", class: 'btn btn-warning'