.row
  .col-sm-6.col-sm-offset-3.logo
    %a{href: root_url}
      =image_tag asset_path('logo-large.png'), alt: 'TorSearch', class: 'img-responsive'
.row
  .search
    =render partial: 'search_bar'
.ad-banner
  =render partial: 'home_page_banner'
#footer
  .pull-left
    %ul.list-unstyled.list-inline
      %li
        =link_to "Advertising", advertising_path
  .pull-right
    %ul.list-unstyled.list-inline
      %li
        =link_to "Privacy and Terms", '#'
      %li
        =link_to "Settings", '#'
