.row
  .col-sm-6.col-sm-offset-3.logo
    %a{href: root_url}
      =image_tag asset_path('logo-large.png'), alt: 'TorSearch', class: 'img-responsive'
.row
  .search
    =render partial: 'search_bar', locals: {disabled: !@search.errors.empty? }
.ad-banner
  =render partial: 'home_page_banner'