.home
  .row.span10.offset2
    .logo-large
  .row.span12.offset2
    =render partial: 'search_bar', locals: {disabled: !@search.errors.empty?}
  .row.span12.offset2
    -if @search.errors.empty?
      %p.muted
        =t 'search.around'
        =number_with_precision @search.indexed, delimiter: ',', significant: true, precision: 2, strip_insignificant_zeros: true, separator: '.', locale: I18n.locale
        =t 'search.pages_indexed'
    -else
      %p.muted Search is offline for the moment, we are looking into it
  .row.span10.offset1
    - if DateTime.now > DateTime.parse('3/1/2013 12:00:00 EST')
      %a.thumbnail{href: 'mailto:sales@torsearch.es'}
        =image_tag asset_path 'advertise-banner.png'
    -else
      %a.thumbnail{href: 'http://yjhzeedl5osagmmr.onion'}
        =image_tag asset_path 'roadsilk-banner.jpg'
    %br/
-content_for(:footer) do
  #footer_home
    .row-fluid
      #footer_home_left
        =link_to t(:submit_a_domain), add_link_path
      #footer_home_right
        =render partial: 'mixpanel_badge'
      .span6.offset3
        %p
          =t(:bitcoin_note)
          #{TorSearch::Application.config.tor_search.bitcoin_address}
