.results
  .logo
  =render partial: 'search_bar', locals: {searched: @search_term}
  %p.muted#totals
    About
    =number_with_precision @search.total, delimiter: ',', significant: true, precision: 5, strip_insignificant_zeros: true
    results
  #instant_results.row-fluid.span8{style: 'display: none'}
  .search-results
    -@search.hits.each do |page|
      =render partial: 'page', locals: {page: page}
    .span8
      =will_paginate @search.hits
-content_for :javascripts do
  :javascript
    var search = "#{@search_term.gsub(/\s+/, '+')}";
    var keep_space = false; // One day It'll be #{@search_term.split(/s+/).count <= 2}!
    $(document).ready(function(){
      if(keep_space){
        $('#instant_results').show()
      }
      $.getJSON("#{instant_path}?search="+search, null,function(res){
      console.log(res);
        if(res['matches'] != null && res['matches'].length > 0) {
          matches = res['matches'];
          console.log(matches);
          $.each(matches, function(k,e){
          console.log(e);
            str =  "<div class='instant-result'><h4>"+e.name+"</h4><hr/><dl class='"+e.type+"'>"
            method = e.method
            if(method == null){
              method = "title";
            }
            $.each(e.data, function(k,v){
              value = k.toLowerCase();
              if(method == "upper"){
                value = value.toUpperCase();
              } else if(method == "title"){
                value = value.titleize();
              }
              str += "<dt>"+value+"</dt>";
              str += "<dd>"+v+"</dd>";
            });
            str += "</dl></div><br />";
            $('#instant_results').append(str);
          });
          $('#instant_results').show();
        } else {
        $('#instant_results').hide();
        }
      }).fail(function(){ $('#instant_results').hide(); });
      $('.search-results').on('mousedown', function(e){
        target = $(e.target)[0]

        href = target.getAttribute('href')
        $.get('/r?s=#{@search_id}&p='+target.getAttribute('data-id'));
        wait_for = 200;
        wait_for += (new Date).getTime();
        _results = [];
        while ((new Date).getTime() < wait_for) {
          _results.push(i = wait_for);
        }
      });
    })