.row
  .span6
    =form_for @ad, builder: WithErrorFields do |f|
      =render partial: 'fields', locals: { f: f }
  .span6
    .row
      =render partial: 'ad', locals: {search: false, ad: @ad}
.row
  %h2 Keywords
  %hr/
  =link_to "Add Keywords", new_ad_keyword_path(@ad)
  %table
    -@ad.ad_keywords.each do |k|
      %tr
        %td= k.keyword.word
        %td= k.bid
        %td= link_to "Edit", edit_ad_keyword_path(@ad, k)
        %td= link_to "Delete", ad_keyword_path(@ad, k), method: :delete