%h1 Advertising

%p
  Advertising on TorSearch is accomplished by
  =link_to "registering", new_advertiser_registration_path
  or
  =link_to "logging in", new_advertiser_session_path
  , creating an ad, and adding Bitcoin to your account.

%p As soon as the ad is approved by an administrator and your account is funded, your ad will begin to be served.  For each click on your ad, your account will be charged based on your bid per click.  You can supply more bitcoin to keep your ads showing or you can disable your ads to stop them showing.