.row
  .col-md-12
    .row
      %h3 TorSearch Searches per Day (7d Avg.)
    .row
      <img src="#{ daily_path}"/>
.row
  .col-md-6
    %h4 Events
    %dl
      %dt 10/10/2013
      %dd
        VentureBeat publishes an
        =link_to "article about TorSearch", 'http://venturebeat.com/2013/10/10/torsearch-launches-to-be-the-google-of-the-hidden-internet/'
    %h4 Notes
    %dl
      %dt 01/01/14 - 01/31/2014
      %dd Doesn't count duplicate searches within a 10 minute window