%div{:'sub-key'=>"sub-c-5c3d413e-f314-11e2-8175-02ee2ddab7fe", ssl: "off", origin: "pubsub.pubnub.com", id: "pubnub" }
%div{:'ng-controller' => "IndexSearchesCtrl"}
  .row-fluid.span2
    .row-fluid=link_to "Logout", destroy_admin_session_path
    .row-fluid
      %b {{realtimeStatus}}
  .row-fluid.span8.offset2
    =javascript_include_tag 'http://cdn.pubnub.com/pubnub-3.1.min.js'
    .progress.progress-striped.active#progress_bar
      .bar{style: "width: 100%"}
    .table-striped#searches
      .message{:'ng-repeat' => "search in searches"}
        %p.text= link_to "{{search.term}}", '/admin/searches/{{search.id}}'
