=render partial: 'ads/ads_common_nav'
.span10
  %button.btn.btn-success{ng_hide: 'add_keywords', ng_click: 'add_keywords = !add_keywords'}
    Add Keywords
  .span10{ng_show: "add_keywords"}
    .row
      Select an Ad to connect the keywords to:
    .row
      %select{ng_model: 'ad', ng_options: 'ad.title for ad in ads'}
    .row
      Enter one keyword per line:
    .row
      %textarea{ng_model: 'keywords'}
    .row
      %button.btn.btn-info{ng_click: 'create_keywords()'} Save
      %button.btn.btn-default{ng_click: 'reset_keywords()'} Cancel
  .span10
    %table.table
      %thead
        %tr
          %th Ad
          %th Word
          %th Bid
          %th
      %tbody
        %tr{ng_repeat: "record in searchParameters.records", "ng-class-odd"=>"'odd'", "ng-class-even"=>"'even'"}
          %td
            %span{'ng-hide'=>'record.editMode'} {{record.word}}
            %span{'ng-show'=>'record.editMode'}
              %input{type: :text, ng_model: "record.word"}
          %td
            %span{'ng-hide'=>'record.editMode'} ฿{{record.bid}}
            %span{'ng-show'=>'record.editMode'}
              %input{type: :text, ng_model: "record.bid"}
          %td
            %button.btn.btn-success{ng_hide: 'record.editMode', ng_click: 'record.editMode = !record.editMode'}
              %i.icon-edit
            %button.btn.btn-info{ng_show: 'record.editMode', ng_click: 'update(record)'}
              %i.icon-lock
            %button.btn.btn-warning{ng_hide: 'record.editMode', ng_click: 'remove(record)'}
              %i.icon-remove-sign
  =render partial: 'shared/angular_common_pagination'