table {
  width: 100%;
  .even {
    background: #CCFFCC;
  }
  .odd {
    background: #99FF99;
  }
  .listings-table {
    float: left;
    position: relative;
    background: #F2F2F2;
    border: 1px solid #262626;
    font-size: 1em;
    margin: 0 0 5px 0;
    vertical-align: top;
    width: 100%;
    z-index: 100;
  }
}
tr {
  display: table-row;
}
tbody {
  display: table-row-group;
  tr {
    border-bottom: 1px solid #262626;
    td {
      font-size: .8em;
      padding: 2px 5px 0 2px;
      vertical-align: top;
      margin: 0px auto;
    }
  }
}
.app-center-content{
  float: left;
  position: relative;
  height: 100%;
  left: 1px;
  margin: 10px 0 0 0;
  min-height: 75px;
  width: 100%;
}