-if @keywords
  =form_tag '/ads/keywords', novalidate: true, class: 'form-horizontal' do
    =hidden_field_tag :ad_group_id, @keywords.first.ad_group_id
    %fieldset{disabled: true}
      .form-group
        =label_tag 'Keyword', 'Keyword', class: 'col-sm-3'
        =text_field_tag '', 'Bid', class: 'form-control col-sm-8'
    -@keywords.each do |keyword|
      -word = keyword.keyword.word
      .form-group
        =label_tag word, word, class: 'col-sm-3'
        =text_field_tag "keyword[#{word}]", keyword.bid, class: 'form-control col-sm-8'
    =submit_tag "Save", class: 'btn btn-success'
    %a.btn{href: campaigns_path} Cancel
-else
  =form_tag '/ads/keywords', novalidate: true do
    .row
      -if @ad_group.nil?
        =label_tag :ad_group, "Select an Ad Group"
        =collection_select(:ad_group, :id, current_advertiser.ad_groups, :id, :name, {prompt: true})
      -else
        =hidden_field_tag :ad_group_id, @ad_group.id
    .row
      %p Add keywords

      %p
        Choose phrases that customers would use to search for your products and services.

      Enter one keyword per line.
    .row
      .col-sm-8
        =text_area_tag :keywords,'', {rows: 3, class: 'form-control', placeholder: 'Add your keywords here'}
    =submit_tag "Save", class: 'btn btn-success'
    %a.btn.btn-warning{href: campaigns_path} Cancel