-content_for :title do
  404 Page Not Found
.row.col-md-10.col-md-offset-2
  .logo-large
.row
  .col-md-9.col-md-offset-2.alert
    %p The page you have requested does not exist, perhaps you'd like to search Tor instead?
.row
  .col-md-12.col-md-offset-2{style: 'margin-top: 40px'}
    =render partial: 'search/search_bar'
=render partial: 'piwik', locals: {error: '404'}