-content_for :title do
  500 Something Went Wrong
.row.col-md-10.col-md-offset-2
  .logo-large
.row
  .col-md-9.col-md-offset-2.alert.alert-error
    %p Something went wrong. Please try again in a few minutes!
  .col-md-9.col-md-offset-2
    %p
      You can email me at
      %a{href: 'mailto:support@torsearch.es'}support@torsearch.es
      if you want to follow up or tell me what you were doing when you saw this error!
=render partial: 'piwik', locals: {error: '500'}