-content_for :title do
  500 Something Went Wrong
.row-fluid.span10.offset2
  .logo-large
.row
  .span9.offset2.alert.alert-error
    %p Something went wrong. Please try again in a few minutes!
  .span9.offset2
    %p
      You can email me at
      %a{href: 'mailto:chris.torsearch@gmail.com'}chris.torsearch@gmail.com
      if you want to follow up or tell me what you were doing when you saw this error!