/*
 * This is the snowman...☃...  I got him from http://unicodesnowmanforyou.com/.  By having him in this file,
 * UTF-8 seems to be working.
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require shadowbox
 *= require_self
 *= require instant
 *= require search
 *= require base/main
 */
#footer_home {
  vertical-align: middle;
  color: #333;
  background: #fbfbfb;
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  font-size: 13px;
  left: 0;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 100%;
}
#footer_home_left {
  float: left;
  padding-left: 0;
  color: #747474;
}
#footer_home_right {
  float: right;
  padding-right: 15px;
}