// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home{
  //position: fixed;
  margin: 0px auto;
  padding-top: 92px;
  min-height: 301px;
}
#totals {
  margin-right: 65px;
  float: right;
}
.results{
  margin-top: 25px;
}
#search{
  width: 100%
}
.page-listing{
  .title{
    display: block;
    padding-bottom: 8px;
    width: 100%;
    margin-bottom: -5px;
  }
  padding-bottom: 10px;
}
.path{
    color: #093;
    font-size: 0.8em;
  }
#instant_results {
  min-height: 50px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.instant-result {
  padding-left: 20px;
  display: block;
  hr{
    margin-top: 5px;
    margin-bottom: 0px;
  }
  dt{
    //float: left;
    font-size: .9em;
  }
  dd{
    //float: left;
    padding-right: 25px;
    font-size: .9em;
  }
  .inline {
    dt{
      display: inline-block;
    }
    dd{
      display: inline-block;
    }
  }
  .ordered {
    dt{
      display: block;
    }
    dd{
      display: block;
    }
  }
}
.logo {
  height: 64px;
  width: 188px;
  background-image: asset_url('logo.png', 'image');
}
.logo-large {
  width: 486px;
  height: 166px;
  background-image: asset_url('logo-large.png', 'image');
}

.highlight {
  background-color: #ffffcc;
  padding-left: 5px;
  padding-right: 5px;
  padding-top:
  2px;
  padding-bottom: 2px;
  margin: 1px;
}