-border ||= false
-search ||= false
-span ||= 2
.row-fluid{style: 'margin-bottom: 20px;', class: "#{border ? "well" : ""} span#{span}"}
  .row-fluid
    -if search
      -h = {id: ad.id, q: @query.id, s: @search_id, k: ad.keyword_id}
      -h.merge!({path: Base64.encode64(ad.path)}) if ad.include_path
      =link_to ad.title, ad_redirect_path(h)
    -else
      =link_to ad.title, ad.protocol + ad.path
  .row-fluid.path
    =ad.display_path
  .row-fluid{style: 'height: 20px;'}
    =ad.line_1
  .row-fluid{style: 'height: 20px;'}
    =ad.line_2