- advertiser_campaigns ||= current_advertiser.ad_campaigns
- advertiser_ad_groups ||= current_advertiser.ad_groups.group(:ad_campaign_id)
%ul.nav.nav-pills.nav-stacked.compact{overflow: 'scroll'}
  %li.nav-header= link_to "All Campaigns", campaigns_path
  %hr/
  -advertiser_campaigns.each do |campaign|
    =nav_link("Campaign: #{campaign.name}", campaign_ad_groups_path(campaign.id), 'nav-header')
    -if advertiser_ad_groups[campaign.id]
      -advertiser_ad_groups[campaign.id].each do |group|
        =nav_link(group.name, group)
    %hr/