-unless defined?(@nav) && @nav == false
  %ul.nav.nav-tabs
    =nav_link t('nav.search'), root_path
    =nav_link t('nav.contact'), contact_path
    =nav_link t('nav.policies'), policies_path
    -if current_advertiser
      =nav_link t('nav.advertisers.sign_out'), destroy_advertiser_session_path, 'pull-right'
      =nav_link t('nav.advertisers.profile'), edit_advertiser_registration_path, 'pull-right'
      =nav_link t('nav.advertisers.billing'), billing_path, 'pull-right'
      -if ['ads','ad_groups','ad_campaigns'].include? params[:controller]
        %li.pull-right.active
          =link_to t('nav.advertisers.advertising'), campaigns_path
      -else
        %li.pull-right
          =link_to t('nav.advertisers.advertising'), campaigns_path
    -else
      =nav_link t('nav.advertisers.advertisers'), advertising_path, "pull-right"