-unless flash[:notice].empty? && flash[:alert].empty?
  .row
    .col-xs-10.col-xs-offset-1
      - if flash[:alert].any?
        -flash[:alert].uniq.each do |alert|
          .alert.alert-warning
            %a.close{data: {dismiss: 'alert'}} &times;
            = alert
      - if flash[:notice].any?
        -flash[:notice].uniq.each do |notice|
          .alert.alert-info
            %a.close{data: {dismiss: 'alert'}} &times;
            = notice