.row
  -if DateTime.now < DateTime.parse('June 2nd, 2014 00:00:00 UTC') && DateTime.now >= DateTime.parse('April 7th, 2014 00:00:00 UTC')
    -# Bungee Ad
    %a{href: 'http://bungee54uqchxfny.onion/linkTracker/1'}
      =image_tag asset_path('b54bw.gif'), alt: 'Bungee54', class: 'img-responsive center-block'
  -else
    -# S2Disk Ad
    %a{href: 'https://www.s2disk.com'}
      =image_tag asset_path('s2disk.png'), alt: 'S2Disk', class: 'img-responsive center-block'
  .ad-notice.col-xs-1.col-xs-offset-8
    =link_to 'Advertising', advertising_path
    -# Default Ad
    -#%a{href: 'mailto:sales@torsearch.es'}
    -#  =image_tag asset_path('banner.png'), alt: 'Advertise here!', class: 'img-responsive center-block'
.padding