.row
  -if DateTime.now < DateTime.parse('June 2nd, 2014 00:00:00 UTC') && DateTime.now >= DateTime.parse('April 7th, 2014 00:00:00 UTC')
    -# Bungee Ad
    %a{href: 'http://bungee54uqchxfny.onion/linkTracker/1'}
      =image_tag asset_path('b54bw.gif'), alt: 'Bungee54', class: 'img-responsive center-block'
  -else
    -# S2Disk Ad
    %a{href: 'https://www.s2disk.com'}
      =image_tag asset_path('s2disk.png'), alt: 'S2Disk', class: 'img-responsive center-block'
    -# Consumer Law Group ad
    -# %a{href: 'http://torsearch.consumerlawsuitgroup.com'}
    -#  =image_tag asset_path('cs_banner.jpg'), alt: 'Injured in an accident?', class: 'img-responsive center-block'
    -# Default Ad
    -# %a{href: 'mailto:sales@torsearch.es'}
    -#   =image_tag asset_path('banner.png'), alt: 'Advertise here!', class: 'img-responsive center-block'
.padding