.row
  -if DateTime.now < DateTime.parse('June 2nd, 2014 00:00:00 UTC') && DateTime.now >= DateTime.parse('April 7th, 2014 00:00:00 UTC')
    -# Bungee Ad
    %a{href: 'http://bungee54uqchxfny.onion/linkTracker/1'}
      =image_tag asset_path('b54bw.gif'), alt: 'Bungee54', class: 'img-responsive center-block'
  -else
    -# Default Ad
    %a{href: 'mailto:sales@torsearch.es'}
      =image_tag asset_path('banner.png'), alt: 'Advertise here!', class: 'img-responsive center-block'
.padding