---
http_interactions:
- request:
    method: get
    uri: https://coinbase.com/api/v1/currencies/exchange_rates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"gbp_to_usd":"1.633667","usd_to_bwp":"8.62852","usd_to_azn":"0.784167","eur_to_usd":"1.35924","usd_to_czk":"20.11621","czk_to_btc":"6.2e-05","btc_to_mga":"1793942.399183","btc_to_djf":"141875.885435","idr_to_btc":"0.0","mnt_to_usd":"0.00058","usd_to_ngn":"158.682199","usd_to_gbp":"0.61212","irr_to_btc":"0.0","ils_to_usd":"0.282751","ars_to_usd":"0.163763","usd_to_uyu":"21.16168","uyu_to_btc":"5.9e-05","pyg_to_btc":"0.0","usd_to_yer":"215.006099","pgk_to_usd":"0.387254","xcd_to_btc":"0.000464","usd_to_fjd":"1.870015","dop_to_btc":"3.0e-05","mvr_to_usd":"0.06503","eek_to_usd":"0.085636","nzd_to_btc":"0.001023","gnf_to_btc":"0.0","usd_to_gtq":"7.88508","bmd_to_usd":"1.0","btc_to_lbp":"1200533.356222","usd_to_omr":"0.385012","usd_to_sos":"1207.4067","usd_to_thb":"32.11708","srd_to_btc":"0.000382","btc_to_all":"82434.366935","usd_to_vnd":"21106.95","htg_to_usd":"0.025083","btc_to_bmd":"797.47668","kpw_to_usd":"0.0","lyd_to_usd":"0.804161","tzs_to_btc":"1.0e-06","lak_to_usd":"0.000125","usd_to_idr":"11907.583333","btc_to_bzd":"1588.063161","usd_to_gel":"1.6904","usd_to_kzt":"153.658001","uah_to_usd":"0.121707","usd_to_lkr":"131.201499","btc_to_zwl":"257070.599966","php_to_btc":"2.9e-05","ron_to_usd":"0.306263","btc_to_kyd":"659.200604","btc_to_cad":"843.506236","hkd_to_btc":"0.000162","usd_to_btc":"0.001254","nok_to_btc":"0.000206","top_to_usd":"0.548145","btc_to_xpf":"70088.630452","usd_to_kgs":"48.862875","usd_to_bnd":"1.25468","dzd_to_usd":"0.012516","vef_to_btc":"0.000199","usd_to_ars":"6.106376","syp_to_btc":"9.0e-06","ngn_to_btc":"8.0e-06","bgn_to_btc":"0.000871","lak_to_btc":"0.0","btc_to_cve":"64571.678805","mga_to_btc":"1.0e-06","idr_to_usd":"8.4e-05","btc_to_htg":"31793.390375","btc_to_ils":"2820.415837","mad_to_btc":"0.000152","usd_to_hnl":"20.52386","svc_to_btc":"0.000143","btc_to_ang":"1426.653881","hkd_to_usd":"0.12899","usd_to_nad":"10.20123","szl_to_btc":"0.000123","etb_to_usd":"0.052406","pkr_to_btc":"1.2e-05","usd_to_khr":"4003.966833","gnf_to_usd":"0.000144","btc_to_myr":"2575.262734","btc_to_top":"1454.864619","nad_to_btc":"0.000123","huf_to_usd":"0.004546","mkd_to_btc":"2.8e-05","lkr_to_btc":"1.0e-05","svc_to_usd":"0.114311","btc_to_lyd":"991.687771","usd_to_bam":"1.440026","usd_to_svc":"8.74805","usd_to_tzs":"1609.666667","gbp_to_btc":"0.002049","btc_to_mop":"6367.484451","btc_to_jod":"564.656553","clp_to_usd":"0.001896","cad_to_usd":"0.945431","cny_to_btc":"0.000206","jod_to_btc":"0.001771","syp_to_usd":"0.007141","lvl_to_btc":"0.002425","btc_to_cny":"4864.516038","shp_to_btc":"0.002049","vef_to_usd":"0.158944","php_to_usd":"0.022869","mro_to_usd":"0.003427","tjs_to_btc":"0.000263","fkp_to_btc":"0.002049","bdt_to_usd":"0.012869","mkd_to_usd":"0.021979","lrd_to_usd":"0.012418","usd_to_kes":"87.034389","btc_to_ars":"4869.692459","usd_to_chf":"0.906341","usd_to_lak":"7987.781667","usd_to_bzd":"1.99136","usd_to_nzd":"1.225977","mvr_to_btc":"8.2e-05","usd_to_wst":"2.344837","nok_to_usd":"0.164135","tjs_to_usd":"0.209516","bob_to_usd":"0.144729","btc_to_cup":"18089.068633","afn_to_btc":"2.2e-05","vnd_to_btc":"0.0","bnd_to_usd":"0.797016","byr_to_btc":"0.0","aed_to_btc":"0.000341","hnl_to_btc":"6.1e-05","mmk_to_usd":"0.001018","zmk_to_btc":"0.0","usd_to_myr":"3.229264","usd_to_ils":"3.536675","usd_to_mdl":"13.1323","djf_to_usd":"0.005621","mnt_to_btc":"1.0e-06","usd_to_sbd":"7.143096","lbp_to_usd":"0.000664","aoa_to_btc":"1.3e-05","btc_to_vnd":"16832300.410926","btc_to_lak":"6370069.604364","dkk_to_usd":"0.182213","inr_to_btc":"2.0e-05","lrd_to_btc":"1.6e-05","pab_to_btc":"0.001254","usd_to_mga":"2249.523333","btc_to_awg":"1427.363636","usd_to_try":"2.015658","usd_to_qar":"3.641038","usd_to_lvl":"0.517161","bmd_to_btc":"0.001254","vuv_to_btc":"1.3e-05","usd_to_pen":"2.80238","usd_to_zmk":"5253.075255","usd_to_ttd":"6.41373","mwk_to_btc":"3.0e-06","btc_to_scr":"9631.891442","egp_to_btc":"0.000182","bam_to_btc":"0.000871","usd_to_kmf":"362.286958","btc_to_aed":"2929.005047","usd_to_shp":"0.61212","bbd_to_btc":"0.0","kes_to_usd":"0.01149","jpy_to_btc":"1.2e-05","wst_to_usd":"0.426469","gyd_to_usd":"0.004843","kgs_to_btc":"2.6e-05","btc_to_eek":"9312.394372","usd_to_php":"43.72676","sdg_to_usd":"0.225802","usd_to_isk":"120.165","scr_to_btc":"0.000104","cup_to_usd":"0.044086","std_to_btc":"0.0","usd_to_gip":"0.61212","usd_to_aud":"1.0963","usd_to_dzd":"79.89655","usd_to_xaf":"483.051199","usd_to_mro":"291.7967","clp_to_btc":"2.0e-06","bbd_to_usd":"0.0","mdl_to_btc":"9.5e-05","btc_to_pyg":"3524796.460478","xof_to_btc":"3.0e-06","kzt_to_btc":"8.0e-06","usd_to_irr":"24785.667967","usd_to_vuv":"96.5375","bif_to_btc":"1.0e-06","btc_to_gtq":"6288.16742","usd_to_bif":"1551.3184","btc_to_xof":"385729.899598","btc_to_ghs":"1812.983484","btc_to_kes":"69407.895586","usd_to_bbd":"2","usd_to_afn":"57.430025","usd_to_sdg":"4.428657","uzs_to_usd":"0.00046","btc_to_dzd":"63715.635437","btc_to_uyu":"16875.94631","usd_to_mnt":"1725.083333","egp_to_usd":"0.145211","btc_to_nio":"20077.001754","usd_to_mur":"30.35621","usd_to_fkp":"0.61212","twd_to_usd":"0.033739","btc_to_bif":"1237140.247255","nio_to_btc":"5.0e-05","bhd_to_usd":"2.652604","aoa_to_usd":"0.010273","tmm_to_usd":"0.350652","btc_to_bhd":"300.639139","kyd_to_btc":"0.001517","usd_to_mzn":"29.89945","jmd_to_btc":"1.2e-05","lbp_to_btc":"1.0e-06","btc_to_ngn":"126545.353234","sek_to_btc":"0.000191","try_to_usd":"0.496116","btc_to_mkd":"36283.282971","btc_to_gbp":"488.151425","aud_to_btc":"0.001144","xpf_to_usd":"0.011378","bzd_to_btc":"0.00063","usd_to_cdf":"921.303003","btc_to_bdt":"61968.659098","cup_to_btc":"5.5e-05","usd_to_lsl":"10.19269","btc_to_tnd":"1329.495703","btc_to_pln":"2462.167781","usd_to_btn":"62.405663","zar_to_btc":"0.000123","bob_to_btc":"0.000181","usd_to_top":"1.824335","amd_to_btc":"3.0e-06","btc_to_syp":"111668.665011","szl_to_usd":"0.098101","gip_to_usd":"1.633667","usd_to_mvr":"15.37749","thb_to_usd":"0.031136","bgn_to_usd":"0.694751","btc_to_gnf":"5531332.809537","rwf_to_btc":"2.0e-06","cny_to_usd":"0.163938","btc_to_mzn":"23844.11412","btc_to_bob":"5510.141196","btc_to_etb":"15217.162916","ern_to_usd":"0.066235","mmk_to_btc":"1.0e-06","btc_to_uzs":"1733166.888808","usd_to_kwd":"0.282781","btc_to_twd":"23636.913729","usd_to_clp":"527.4221","ghs_to_usd":"0.43987","brl_to_btc":"0.000541","btc_to_try":"1607.44025","usd_to_dkk":"5.488097","myr_to_btc":"0.000388","btc_to_svc":"6976.36587","kmf_to_btc":"3.0e-06","mxn_to_btc":"9.6e-05","nio_to_usd":"0.039721","uah_to_btc":"0.000153","ttd_to_btc":"0.000196","usd_to_sgd":"1.254902","usd_to_hrk":"5.615268","btc_to_thb":"25612.62233","mwk_to_usd":"0.002446","btc_to_aud":"874.273684","btc_to_vuv":"76986.404995","btc_to_php":"34871.071392","pyg_to_usd":"0.000226","scr_to_usd":"0.082795","btc_to_kwd":"225.511253","ugx_to_usd":"0.000396","btc_to_gmd":"30135.016885","zwl_to_btc":"4.0e-06","btc_to_zar":"8136.096332","btc_to_hkd":"6182.49219","btc_to_afn":"45799.105669","btc_to_fkp":"488.151425","xaf_to_btc":"3.0e-06","usd_to_nok":"6.092554","btc_to_kzt":"122538.672493","btc_to_btn":"49767.060942","amd_to_usd":"0.002449","usd_to_syp":"140.027499","usd_to_jpy":"102.181201","usd_to_sek":"6.570703","btc_to_clp":"420606.825267","sgd_to_usd":"0.796875","btc_to_qar":"2903.642896","czk_to_usd":"0.049711","usd_to_aoa":"97.343626","krw_to_usd":"0.000942","sar_to_usd":"0.266627","hnl_to_usd":"0.048724","bwp_to_usd":"0.115895","usd_to_brl":"2.319796","btc_to_bbd":"1594.95336","ngn_to_usd":"0.006302","azn_to_usd":"1.275239","btc_to_mnt":"1375713.729124","usd_to_rub":"33.12431","btc_to_lvl":"412.423837","usd_to_ron":"3.265171","btc_to_azn":"625.354896","sll_to_usd":"0.000232","usd_to_dop":"42.3681","pab_to_usd":"1.0","pkr_to_usd":"0.009223","usd_to_scr":"12.07796","usd_to_huf":"219.952799","bdt_to_btc":"1.6e-05","btc_to_crc":"394522.079198","std_to_usd":"5.5e-05","mzn_to_usd":"0.033445","mzn_to_btc":"4.2e-05","nzd_to_usd":"0.815676","btc_to_npr":"79534.343786","btc_to_bwp":"6881.043483","kwd_to_usd":"3.536305","omr_to_usd":"2.597322","btc_to_rwf":"538590.405863","kgs_to_usd":"0.020465","afn_to_usd":"0.017412","btc_to_egp":"5491.842296","aud_to_usd":"0.912159","usd_to_mwk":"408.8331","usd_to_cny":"6.099885","rwf_to_usd":"0.001481","usd_to_zwl":"322.355006","btc_to_cdf":"734717.660106","usd_to_tjs":"4.7729","usd_to_all":"103.369","bhd_to_btc":"0.003326","kpw_to_btc":"0.0","bam_to_usd":"0.694432","btc_to_szl":"8129.134361","usd_to_pyg":"4419.936719","gel_to_btc":"0.000742","xcd_to_usd":"0.370165","usd_to_lrd":"80.528251","sos_to_usd":"0.000828","usd_to_uzs":"2173.313568","btc_to_fjd":"1491.293354","btc_to_iqd":"928215.046793","usd_to_bsd":"1","cve_to_btc":"1.5e-05","rub_to_btc":"3.8e-05","usd_to_rsd":"83.906211","sar_to_btc":"0.000334","eek_to_btc":"0.000107","btc_to_ugx":"2013788.125096","awg_to_btc":"0.000701","btc_to_mwk":"326034.863262","huf_to_btc":"6.0e-06","ang_to_usd":"0.558984","usd_to_djf":"177.905999","usd_to_cad":"1.057719","btc_to_brl":"1849.983212","usd_to_ern":"15.097825","iqd_to_btc":"1.0e-06","btc_to_pgk":"2059.310474","usd_to_xcd":"2.7015","btn_to_btc":"2.0e-05","myr_to_usd":"0.309668","lsl_to_usd":"0.09811","crc_to_usd":"0.002021","usd_to_egp":"6.886524","btc_to_rsd":"66913.24658","gel_to_usd":"0.591576","jmd_to_usd":"0.009719","btc_to_ltl":"2026.030974","lyd_to_btc":"0.001008","nad_to_usd":"0.098027","usd_to_kyd":"0.826608","btc_to_bsd":"797.47668","ltl_to_btc":"0.000494","usd_to_srd":"3.283333","usd_to_awg":"1.78985","usd_to_szl":"10.19357","chf_to_btc":"0.001384","zwl_to_usd":"0.003102","sll_to_btc":"0.0","usd_to_cop":"1927.433333","usd_to_tmm":"2.851833","btc_to_tjs":"3806.276446","sbd_to_btc":"0.000176","ern_to_btc":"8.3e-05","btc_to_bam":"1148.387154","btc_to_gip":"488.151425","sbd_to_usd":"0.139995","mad_to_usd":"0.121088","btc_to_ern":"12040.163356","usd_to_ltl":"2.540552","qar_to_usd":"0.274647","usd_to_kpw":"900","usd_to_crc":"494.712998","usd_to_xpf":"87.888","yer_to_btc":"6.0e-06","chf_to_usd":"1.103337","jpy_to_usd":"0.009787","ars_to_btc":"0.000205","usd_to_pgk":"2.582283","gyd_to_btc":"6.0e-06","aed_to_usd":"0.272269","usd_to_mop":"7.98454","usd_to_aed":"3.672841","qar_to_btc":"0.000344","btc_to_sll":"3442972.786033","btc_to_dkk":"4376.629375","gtq_to_usd":"0.126822","sos_to_btc":"1.0e-06","dop_to_usd":"0.023603","awg_to_usd":"0.558706","btc_to_gel":"1348.05458","btc_to_lkr":"104630.135834","btc_to_lrd":"64219.402254","khr_to_usd":"0.00025","btc_to_hrk":"4478.045282","usd_to_etb":"19.08164","btc_to_sos":"962878.686526","btc_to_eur":"586.707581","usd_to_krw":"1061.26498","btc_to_dop":"33787.571726","usd_to_bob":"6.90947","btc_to_kgs":"38967.00333","cve_to_usd":"0.01235","fjd_to_usd":"0.534755","btc_to_jpy":"81487.124932","btc_to_omr":"307.038092","usd_to_gyd":"206.501249","pen_to_btc":"0.000447","btc_to_jmd":"82054.768035","npr_to_usd":"0.010027","usd_to_tnd":"1.667128","usd_to_twd":"29.63963","btc_to_nad":"8135.243032","azn_to_btc":"0.001599","btc_to_sgd":"1000.755081","twd_to_btc":"4.2e-05","btc_to_sek":"5239.982414","inr_to_usd":"0.016031","crc_to_btc":"3.0e-06","usd_to_mxn":"13.10359","xaf_to_usd":"0.00207","btc_to_idr":"9496020.023224","btc_to_hnl":"16367.299734","eur_to_btc":"0.001704","btc_to_sbd":"5696.452483","hrk_to_usd":"0.178086","pln_to_btc":"0.000406","gtq_to_btc":"0.000159","zmk_to_usd":"0.00019","thb_to_btc":"3.9e-05","btc_to_mvr":"12263.189672","ghs_to_btc":"0.000552","usd_to_gmd":"37.78796","usd_to_mkd":"45.49761","usd_to_eur":"0.735705","cop_to_btc":"1.0e-06","btc_to_xcd":"2154.383251","sdg_to_btc":"0.000283","btc_to_nzd":"977.688068","usd_to_uah":"8.21647","rsd_to_btc":"1.5e-05","cdf_to_btc":"1.0e-06","btn_to_usd":"0.016024","krw_to_btc":"1.0e-06","tzs_to_usd":"0.000621","pgk_to_btc":"0.000486","btc_to_byr":"7449096.754834","bsd_to_usd":"1.0","irr_to_usd":"4.0e-05","uyu_to_usd":"0.047255","mop_to_btc":"0.000157","usd_to_ghs":"2.2734","btc_to_khr":"3193070.176811","kyd_to_usd":"1.209763","btc_to_zmk":"4189205.014148","cop_to_usd":"0.000519","btc_to_mad":"6585.944415","try_to_btc":"0.000622","xpf_to_btc":"1.4e-05","kzt_to_usd":"0.006508","usd_to_bhd":"0.376988","top_to_btc":"0.000687","ugx_to_btc":"0.0","usd_to_mmk":"982.69002","usd_to_jod":"0.708054","btc_to_vef":"5017.332507","gip_to_btc":"0.002049","btc_to_mmk":"783672.374619","usd_to_xof":"483.687999","wst_to_btc":"0.000535","mdl_to_usd":"0.076148","ltl_to_usd":"0.393615","bnd_to_btc":"0.000999","usd_to_sll":"4317.3335","usd_to_nio":"25.17566","btc_to_mro":"232701.063551","srd_to_usd":"0.304569","usd_to_lbp":"1505.415","btc_to_pkr":"86464.24069","rsd_to_usd":"0.011918","sgd_to_btc":"0.000999","yer_to_usd":"0.004651","lvl_to_usd":"1.933634","usd_to_ang":"1.78896","usd_to_sar":"3.750561","usd_to_iqd":"1163.94005","btc_to_kmf":"288915.400473","usd_to_bmd":"1","kes_to_btc":"1.4e-05","btc_to_irr":"19765992.201906","btc_to_aoa":"77629.271682","btc_to_shp":"488.151425","btc_to_sdg":"3531.750681","kmf_to_usd":"0.00276","btc_to_krw":"846334.072851","btc_to_srd":"2618.3815","usd_to_bdt":"77.70592","usd_to_zar":"10.2023","bwp_to_btc":"0.000145","byr_to_usd":"0.000107","vnd_to_usd":"4.7e-05","usd_to_cve":"80.96999","btc_to_btc":"1.000036","btc_to_pen":"2234.832698","usd_to_hkd":"7.752568","isk_to_btc":"1.0e-05","pen_to_usd":"0.35684","btc_to_kpw":"717729.012","btc_to_tmm":"0.0","bzd_to_usd":"0.502169","npr_to_btc":"1.3e-05","btc_to_chf":"722.785812","btc_to_bgn":"1147.860022","btc_to_uah":"6552.443217","pln_to_usd":"0.323892","btc_to_inr":"49744.968446","htg_to_btc":"3.1e-05","btc_to_wst":"1869.952826","btc_to_ron":"2603.897729","xof_to_usd":"0.002067","btc_to_mur":"24208.369568","usd_to_rwf":"675.36822","usd_to_pab":"1","btc_to_mxn":"10449.807449","all_to_btc":"1.2e-05","dkk_to_btc":"0.000228","usd_to_ugx":"2525.200016","tnd_to_usd":"0.599834","usd_to_lyd":"1.243532","usd_to_pkr":"108.422281","omr_to_btc":"0.003257","mga_to_usd":"0.000445","mur_to_btc":"4.1e-05","usd_to_amd":"408.364003","jod_to_usd":"1.412322","tnd_to_btc":"0.000752","shp_to_usd":"1.633667","vuv_to_usd":"0.010359","khr_to_btc":"0.0","usd_to_htg":"39.867486","iqd_to_usd":"0.000859","btc_to_sar":"2990.984934","mur_to_usd":"0.032942","lsl_to_btc":"0.000123","usd_to_jmd":"102.893","ils_to_btc":"0.000355","zar_to_usd":"0.098017","usd_to_pln":"3.087448","bsd_to_btc":"0.001254","btc_to_rub":"26415.864766","usd_to_mad":"8.258479","usd_to_inr":"62.37796","btc_to_czk":"16042.208365","isk_to_usd":"0.008322","rub_to_usd":"0.030189","usd_to_usd":"1.0","fkp_to_usd":"1.633667","all_to_usd":"0.009674","mop_to_usd":"0.125242","usd_to_cup":"22.682881","mro_to_btc":"4.0e-06","tmm_to_btc":"0.0","fjd_to_btc":"0.000671","usd_to_gnf":"6936.043333","btc_to_huf":"175407.227903","usd_to_byr":"9340.833333","usd_to_bgn":"1.439365","ang_to_btc":"0.000701","gmd_to_usd":"0.026463","bif_to_usd":"0.000645","etb_to_btc":"6.6e-05","usd_to_std":"18145.400667","btc_to_std":"14470533.881189","btc_to_ttd":"5114.800107","ron_to_btc":"0.000384","gmd_to_btc":"3.3e-05","kwd_to_btc":"0.004435","btc_to_amd":"325660.769344","btc_to_gyd":"164679.930468","btc_to_nok":"4858.669737","btc_to_yer":"171462.35001","cdf_to_usd":"0.001085","btc_to_usd":"797.4766799999999","hrk_to_btc":"0.000223","btc_to_xaf":"385222.066449","btc_to_bnd":"1000.578041","btc_to_lsl":"8128.432581","usd_to_eek":"11.677325","brl_to_usd":"0.431072","lkr_to_usd":"0.007622","btc_to_pab":"797.47668","ttd_to_usd":"0.155916","btc_to_cop":"1537083.135322","btc_to_isk":"95828.785252","uzs_to_btc":"1.0e-06","mxn_to_usd":"0.076315","btc_to_mdl":"10472.703005","djf_to_btc":"7.0e-06","usd_to_npr":"99.732501","btc_to_tzs":"1283671.629506","usd_to_vef":"6.29151","cad_to_btc":"0.001186","dzd_to_btc":"1.6e-05","sek_to_usd":"0.152191"}'
  recorded_at: Wed, 29 Jan 2014 13:20:35 GMT
recorded_with: VCR 2.5.0
