!!! 5
%html
  %head
    %title
      =yield(:title)
      TorSearch Admin

    = stylesheet_link_tag    "admin", media: "all"
    = #stylesheet_link_tag params[:controller], media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{rel: "me", href: "http://chrismacnaughton.com"}
  %body
    =render partial: 'layouts/admin_nav'
    =render partial: 'application/application_alerts'
    .container-fluid
      =yield
    =javascript_include_tag 'admin'