=render partial: 'application_header'
%body
  .container
    =render partial: 'application_nav'
    =render partial: 'application_alerts'
    .row
      .span3
        =render partial: 'ads_nav', locals: {advertiser_campaigns: @advertiser_campaigns, advertiser_ad_groups: @advertiser_ad_groups}
      .span9
        = yield
  =render partial: 'application_footer'
  -if current_advertiser.nil? || current_advertiser.wants_js
    = javascript_include_tag "application"
    =yield(:javascripts)