=render partial: 'application_header'
%body
  .container
    =render partial: 'application_nav'
    =render partial: 'application_alerts'
    .row
      .span12{"ng-app" => 'TorSearch'}
        = yield
  =render partial: 'application_footer'
  = javascript_include_tag "application"
  =yield(:javascripts)