=render partial: 'application_header'
%body
  .container
    =render partial: 'application_nav'
    =render partial: 'application_alerts'
    .row
      .span12
        = yield
  =render partial: 'application_footer'
  -if current_advertiser.nil? || current_advertiser.wants_js
    = javascript_include_tag "application"
  =yield(:javascripts)
  =render partial: 'day_we_fight_back'